/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* Main content */
main {
    /* css so footer is at bottom of viewport */
    flex: 1 0 auto;
}

/* hide sections until they are shown via the click events */
#questions,
#final,
#highscores,
#comment {
    display: none;  
  } 

/* Remove bullet points from answers list */
ul.nobullets {
list-style-type: none;
}

/* Answer button styling */
.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: #5b28a7;
    border-color: #5b28a7;
}

/* Others button styling */
#start,
#submit-score,
#goback,
#clearscores {
    background-color: #5b28a7;
    border-color: #5b28a7; 
}